<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s165158.aspiri">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aspiri"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aspiri"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OnClickListener -->
        <activity android:name=".ListViewOnClick" />

        <!-- ExtraScreen -->

        <activity
            android:name=".Subject1"
            android:label="Subject1"
            android:theme="@style/AppTheme"/>



        <!-- Settings Screen -->
        <activity android:name=".settings_screen" />


        <activity
            android:name=".Subject2"
            android:label="@string/title_activity_subject2"
            android:theme="@style/AppTheme" />

        <!-- Test activity -->
        <activity android:name=".test.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Test activity -->
        <activity android:name=".test.TestMultipleChoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Test activiy 2 -->
        <activity
            android:name=".test.TestFlipcard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>